# Ignore everything
# *

# But not these files
!.gitignore
!*.xlsx
!/hardware
!/hardware/*.qsys
!/hardware/*.bdf
!/hardware/*.qpf
!/hardware/*.qsf
!/hardware/*.qip
!/hardware/*.sip
!/hardware/.gitignore
# Ignore CSV files

# Ignore CSV files
*.csv
# Ignore cordic directory
/cordic/
