# Ignore everything
*


# But not these files
!.gitignore
!*.qsys
!*.bdf
!*.qpf
!*.qsf


!/hardware
/hardware/*
!/hardware/software
/hardware/software/*
!/hardware/software/hello_world
!/hardware/software/hello_world/*
!/hardware/software/hello_world_bsp
!/hardware/software/hello_world_bsp/*
